.App {
  text-align: center;
  margin: 200px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  width: 33%;
  padding: 50px 0px;
}